# Database
#DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/test_db
DATABASE_URL=sqlite+aiosqlite:///./test.db

# Application
APP_ENV=development
APP_TITLE=Order Processing Module
APP_VERSION=1.0.0
API_V1_PREFIX=/api/v1

# Localization
DEFAULT_LOCALE=en
SUPPORTED_LOCALES=["en","uk","ru"]