# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# IDE
.vscode/
.idea/

# Environment
.env

# Testing
.pytest_cache/

# MacOS
.DS_Store

# Database
*.db

# Alembic
alembic/versions/*.py

backend/.venv/
backend/test.db
backend/.env
frontend/.next/
frontend/node_modules/